.level-per-level {
    width: 80%;
    /* display: flex;
    flex-direction: row; */
}

.only-container {
    text-align: center;
}

.container-review {
    width: 263px;
    height: 319px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1.1px 1.1px 2.3px rgba(0, 0, 0, 0.048),
        3.6px 3.6px 7.8px rgba(0, 0, 0, 0.072),
        16px 16px 35px rgba(0, 0, 0, 0.12);
    margin-top: 38px;
}

.review-button-modifier {
    color: #060934;
    font-size: 24px;
    font-weight: 700;
}

.image-modifier-for-button {
    width: 243px;
    height: 211px;
}

.level-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jekin {
    text-decoration: none;
}

.jekball {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    background-image: url(../images/StandPlace.svg);
    background-position: center;
    height: 120px;
    width: 150px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.15));
    position: relative;
}

.jekball > img {
    position: absolute;
}

.jekball > img:nth-child(1) {
    bottom: 20px;
    left: 25px;
}

.jekball > img:nth-child(2) {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.jekball > img:nth-child(3) {
    bottom: 20px;
    right: 25px;
}

.level-per-level {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blobby1 {
    grid-area: 1 / 1 / 2 / 2;
}

.blobby2 {
    grid-area: 2 / 2 / 3 / 3;
}

.blobby3 {
    grid-area: 3 / 3 / 4 / 4;
}

.blobby4 {
    grid-area: 3 / 4 / 4 / 5;
}

.blobby5 {
    grid-area: 4 / 5 / 5 / 6;
}

.blobby6 {
    grid-area: 5 / 4 / 6 / 5;
}

.blobby7 {
    grid-area: 4 / 3 / 5 / 4;
}

.blobby8 {
    grid-area: 5 / 2 / 6 / 3;
}

.blobby9 {
    grid-area: 7 / 3 / 8 / 4;
}

.locked {
    filter: grayscale(1);
}

.locked > img {
    display: none;
}
