@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

.container,
.middle,
.middle > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url("../images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.container > img {
    height: 85px;
    width: 85px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.middle {
    padding: 80px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    gap: 20px;
    flex-direction: column;
    backdrop-filter: blur(3px);
}

.middle-title {
    font-size: 20pt;
    font-weight: 900;
    margin-bottom: 20px;
}

.middle > div:not(:last-child) {
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 350px;
}

.middle > div > input {
    appearance: none;
    height: auto;
    width: 100%;
    background: none;
    font-size: 12pt;
    border: none;
    outline: none;
    padding: 10px;
}

.middle > div > input::placeholder {
    color: #060934;
}

.input-icon {
    height: 30px;
    width: 30px;
    opacity: 0.5;
    margin-left: 5px;
}

.hide-password {
    height: 30px;
    width: 30px;
    opacity: 0.4;
    margin-right: 5px;
    cursor: pointer;
}

.middle-button {
    height: 50px;
    width: 350px;
    border-radius: 50px;
    background: #342265;
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.middle-question > span > a {
    cursor: pointer;
    color: #342265;
    text-decoration: underline;
}
