@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

.container,
.middle,
.middle > div,
.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url("../images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.container > img {
    height: 85px;
    width: 85px;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.middle {
    padding: 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    flex-direction: column;
    backdrop-filter: blur(3px);
}

.middle-title {
    font-size: 20pt;
    font-weight: 900;
    margin-bottom: 20px;
}

#fullname,
#email,
#password,
#confirmation {
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #000000;
    height: 60px;
    width: 350px;
    margin: 10px 0 0 0;
}

.middle > div > input {
    appearance: none;
    height: auto;
    width: 100%;
    background: none;
    font-size: 12pt;
    border: none;
    outline: none;
    padding: 10px;
}

.middle > div > input::selection {
    color: black;
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgba(6, 9, 52, 0.65) !important;
}

.middle > div > input::placeholder {
    color: #060934;
}

.invalid-input {
    display: none;
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: #ff0000;
}

.input-icon {
    height: 35px;
    min-width: 35px;
    width: 35px;
    opacity: 0.5;
    margin: 0 0 5px 5px;
    object-fit: contain;
    object-position: center;
}

.hide-password {
    height: 30px;
    width: 30px;
    opacity: 0.4;
    margin-right: 5px;
    cursor: pointer;
}

progress {
    appearance: none;
    height: 10px;
    width: 100%;
    margin: 20px 0 0 0;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: darkred;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.strength-weak::-webkit-progress-value {
    background: darkorange;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.strength-medium::-webkit-progress-value {
    background: orange;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.strength-strong::-webkit-progress-value {
    background: darkgreen;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.middle-button {
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 50px;
    background: #342265;
    color: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.middle-question > span {
    font-size: 12pt;
}

.middle-question > a {
    cursor: pointer;
    color: #342265;
    text-decoration: underline;
    margin-left: 5px;
}
