@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title {
    color: #060934;
    font-size: 32px;
    font-weight: 700;
}

.cont-leaderboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.leaderboard {
    gap: 15px;
}

.name {
    color: #9167E3;
    font-size: 24px;
    font-weight: 700;
}

.classes {
    color: rgba(6, 9, 34, 0.56);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;

}

.experience {
    color: #9167E3;
    font-size: 20px;
    font-weight: 700;
    text-align: end;
}

.id {
    color: #060934;
    font-size: 32px;
    font-weight: 700;
    opacity: 56%;
    display: flex;
    align-items: center;
    width: 45px;
    justify-content: center;
}

.packet {
    display: flex;
    flex-direction: column;
}

.leaderboard {
    display: flex;
}

.listed {
    width: 100%;
}