.container-new {
    height: 100%;
    width: 100%;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.profile-detail {
    width: 70%;
}

.profile-detail > .fullname {
    color: #060934;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.profile-detail > .email {
    color: #060934;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    opacity: 0.5;
}

.profile-detail > .badge {
    color: #9167e3;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.profile-image {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    background-color: #282828;
    position: relative;
    display: flex;
    padding: 10px;
}

.profile-image > img:first-child {
    height: 115px;
    width: 115px;
}

.profile-image > .editor {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #342265;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.heart-level {
    margin-right: 40px;
}

.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 20px;
}

.info-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #fff;
    margin-right: 40px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.panel > img {
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-left: 30px;
}

.panel-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.panel-detail > P:nth-child(1) {
    color: #9167e3;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.panel-detail > P:nth-child(2) {
    color: #060934;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bigger {
    width: 620px;
    height: 420px;
    flex-shrink: 0;
    margin-right: 0;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1440px) {
    .info-container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .info-right {
        flex-direction: row;
    }
    .panel {
        margin-right: 0;
    }
    .bigger {
        width: 820px;
    }
}
